name: test

on:
  pull_request:
    paths:
      - '**.go'
      - 'go.*'
      - .github/workflows/test.yml
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: set up
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: test
        run: go test -coverprofile="coverage.txt" -covermode=atomic ./...

      - name: run
        run: go run sample-cli/main.go

      - name: codecov
        uses: codecov/codecov-action@v5
